@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-gray: #E0E0E0;
  --accent: #7BDFD0;
  --off-white: #F5F0E8;
  --dark-blue: #00008B;
}

@layer components {
  .main-title {
    color: var(--dark-blue);
  }
  .text-accent {
    color: var(--accent);
  }
}